html, body, #app {
    min-height: 100% !important;
    height: 100%;
}
html{
  touch-action: manipulation;
}

body {
	background-color: black;
	background-image: url("tetris-backgroung.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center bottom;

	font-family: Lucida Console,Verdana,Arial;
	margin:0;
}
#app{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#title-container {

}

#text-bienvenue {
	text-align: center;
	font-size: 180px;
	color: white;
}

.container-class {
	margin: 0 auto;
	margin-bottom: 50%;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.select-item{
	text-align: center;
}

.select{
	text-align: center;
	font-size: 100px;
	margin: 50px 0px;
	padding: 20px 50px;
	border-radius: 15px;
}

.rotate-buttons-container{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly
}
.rotate-buttons-item{
	padding: 10px;
}
.rotate-button{
	width: 45vw;
	height: 25vw;
    font-size: 80px;
	border-radius: 30px;
	margin-bottom: 20px;
}
.translate-buttons-container{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly
}
.translate-buttons-item{
	padding: 10px;
}
.translate-button{
	width: 45vw;
	height: 25vw;
    font-size: 80px;
	border-radius: 30px;
	margin-bottom: 20px;
}
.fall-button-container{

	display: flex;
	flex-direction: row;
	justify-content: space-evenly
}
.fall-button{
	width: 45vw;
	height: 25vw;
    font-size: 80px;
	border-radius: 30px;
	margin-bottom: 20px;
}
